﻿@model IEnumerable<AdminPanel.Models.PrivilageSettingModel.Branch>
@{
    ViewBag.Title = "Branch";
    Layout = "~/Views/Shared/_MasterLayoutPage.cshtml";
}


<div class="col-sm-12" style="background-color: white; padding: 0px 10px 5px 10px; box-shadow: 0px 0px 10px 1px #bcbcbc; ">
    <div class="row">
        <div class="col-sm-12">
            <div lass="col-sm-12" style="border: 1px dashed #bcbcbc; padding: 5px 0 0 5px; margin: 10px 0 10px 0px;">
                <h6 style="font-size: 13px;">Dashboard > Privilage > <u>Add Branch</u></h6>
                <span id="updateStatus" style="color: green;"></span>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="form-group form-validation">
                <input type="text" id="branchname" placeholder="Branch Name" class="form-control">
            </div>
        </div>

        <div class="col-sm-3 form-group">
            <input type="submit" value="Submit" id="submit" class="btn btn-danger">
        </div>


    </div>
</div>

<div class="col-sm-6" style="background-color: white; margin-top:10px;padding: 0px 10px 5px 10px; box-shadow: 0px 0px 10px 1px #bcbcbc; ">
    <div class="row">
        <div class="col-sm-12">
            <div lass="col-sm-12" style="border: 1px dashed #bcbcbc; padding: 5px 0 0 5px; margin: 10px 0 10px 0px;">
                <h6 style="font-size: 13px;">Dashboard > Privilage > <u>Branch List</u></h6>
            </div>
        </div>

        <div class="col-sm-12">
            <div class="table-responsive text-nowrap">
                <table class="table" data-toggle="table" id="IncentiveTable">
                    <thead>
                        <tr style="background:#f6f6f6;">
                            <th>Branch Name</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Count() > 0)
                        {
                            foreach (var item in Model)
                            {
                                <tr id=@item.id>
                                    <td id="branchName_@item.id">@item.BranchName</td>
                                    <td id="branchAction_@item.id" class="branchAction" style="cursor:pointer;">
                                        <u style="color:red" onclick="EditBranch(@item.id)">Edit</u>
                                        &nbsp;&nbsp;&nbsp;&nbsp;
                                        <u style="color:red" onclick="DeleteBranch(@item.id)">Delete</u>
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr style="text-align:center">
                                <td colspan="6" style="color:red;">No Record Found</td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>


    </div>
</div>

<script src="~/Content/js/custom/common.js"></script>
<script>
    let datacount = 0;
    $(function () {
        datacount = @Model.Count();
    });
</script>
<script src="~/Content/js/PrivilageSetting/Branch.js"></script>