﻿@model AdminPanel.Models.MenuList

<!-- sidebar menu -->
<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
        <ul class="nav side-menu">
            <li><a href="/dashboard"><i class="fa fa-home"></i> Dashboard </a></li>
            @if (Model.ExecMenuList != null && Model.ExecMenuList.Count > 0)
            {
                foreach (var menu in Model.ExecMenuList)
                {
                    if (menu.MainMenu)
                    {
                        <li>
                            <a>@*<i class="fa fa-arrow-circle-o-right"></i>*@ @menu.Page_name <span class="fa fa-chevron-down"></span></a>
                            @if (Model.ExecMenuList.Where(p => p.Root_page_id == menu.page_id).ToList().Count > 0)
                            {
                                List<AdminPanel.Models.MenuList> subMenuList = Model.ExecMenuList.Where(p => p.Root_page_id == menu.page_id).ToList();
                                <ul class="nav child_menu">
                                    @foreach (var submenu in subMenuList)
                                    {
                                        <li><a href="#">@submenu.Page_name</a></li>
                                    }
                                </ul>
                            }
                        </li>
                    }
                }
            }

            @*<li>
                    <a><i class="fa fa-sitemap"></i> Multilevel Menu <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li><a href="#level1_1">Level One</a>
                        <li>
                            <a>Level One<span class="fa fa-chevron-down"></span></a>
                            <ul class="nav child_menu">
                                <li class="sub_menu">
                                    <a href="level2.html">Level Two</a>
                                </li>
                                <li>
                                    <a href="#level2_1">Level Two</a>
                                </li>
                                <li>
                                    <a href="#level2_2">Level Two</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#level1_2">Level One</a>
                        </li>
                    </ul>
                </li>
                <li><a href="javascript:void(0)"><i class="fa fa-laptop"></i> Landing Page <span class="label label-success pull-right">Coming Soon</span></a></li>*@
        </ul>
    </div>
</div>
<!-- /sidebar menu -->