﻿@model IEnumerable<AdminPanel.Models.FlightSettingModel.FareTypeMaster>
@{
    ViewBag.Title = "FareTypeMaster";
    Layout = "~/Views/Shared/_MasterLayoutPage.cshtml";
}

<div class="row">
    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel">
            <div class="x_title">
                <h2>Update Fare Type</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br>
                @using (Html.BeginForm())
                {
                    <div class="item form-group col-md-3 col-sm-3">
                        <div class="col-md-12 col-sm-12 ">
                            <input type="text" id="fare_type" name="FareType" required readonly placeholder="Fare Type" class="form-control ">
                            <input type="text" id="counter" name="Id" required style="display:none;">
                        </div>
                    </div>
                    <div class="item form-group col-md-3 col-sm-3">
                        <div class="col-md-12 col-sm-12 ">
                            <input type="text" id="dispaly_result_name" name="DisplayName" required placeholder="Display Result Name" class="form-control ">
                        </div>
                    </div>
                    <div class="item form-group col-md-3 col-sm-3">
                        <div class="col-md-12 col-sm-12 ">
                            <input type="text" id="remark" required placeholder="Remark" name="Remark" class="form-control ">
                        </div>
                    </div>

                    <div class="item form-group col-md-3 col-sm-3 ">
                        <div class="col-md-12 col-sm-12">
                            <button type="submit" class="btn btn-success pull-left" style="width:120px;">Submit</button>
                            <button type="reset" class="btn btn-primary pull-right" style="width:120px;">Reset</button>
                        </div>
                    </div>
                }
                <br>
                <span style="color: green;">@ViewBag.UpdateMsg</span>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel" style="padding: 0px!important;">
            <div class="x_content">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="table-responsive text-nowrap tablescroll">
                            <table class="table" data-toggle="table" id="IncentiveTable">
                                <thead>
                                    <tr style="background:#f6f6f6;">
                                        <th>Fare Type</th>
                                        <th>Display Result Name</th>
                                        <th>Remark</th>
                                        <th>Updated Date</th>
                                        <th>Updated By</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody id="tbodycomm">
                                    @if (Model.Count() > 0)
                                    {
                                        foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>@item.FareType</td>
                                                <td>@item.DisplayName</td>
                                                <td>@item.Remark</td>
                                                <td>@item.UpdatedDate</td>
                                                <td>@item.UpdatedBy</td>
                                                <td><u style="cursor:pointer;" onclick="edit(@item.Id,' @item.FareType',' @item.DisplayName',' @item.Remark')">Edit</u></td>
                                            </tr>
                                        }
                                    }
                                    else
                                    {
                                        <tr style="text-align:center">
                                            <td colspan="5" style="color:red;">No Record Found</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function edit(id, ft, dn, rm) {
        $("#counter").val(id);
        $("#fare_type").val(ft);
        $("#dispaly_result_name").val(dn);
        $("#remark").val(rm);
    }
</script>
