﻿
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_MasterLayoutPage.cshtml";
}

<div class="row">
    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel">
            <div class="x_title">
                <h2>Change Password </h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br>

                @using (Html.BeginForm())
                {
                    <div class="col-sm-3 item form-group">
                        <div class="col-md-12 col-sm-12 form-validation">
                            <input type="password" id="oldpassword" name="oldpassword" placeholder="Old Password" class="form-control">
                        </div>
                    </div>

                    <div class="col-sm-3 item form-group">
                        <div class="col-md-12 col-sm-12 form-validation">
                            <input id="newpassword" name="newpassword" type="password" onkeyup="matchpassword()" placeholder="New Password" class="form-control">
                        </div>
                    </div>
                    <div class="col-sm-3 item form-group">
                        <div class="col-md-12 col-sm-12 form-validation">
                            <input id="confirmpassword" name="confirmpassword" type="password" onkeyup="matchpassword()" placeholder="Confirm Password" class="form-control">
                        </div>
                        <span id="errormessage" style="color:red;"></span>
                    </div>


                    <div class="col-sm-3 item form-group">
                        <input type="submit" disabled value="Submit" id="submit" class="btn btn-success">
                    </div>
                }
            <br />
                <span style="color: green;">@ViewBag.UpdateConfirmation</span>

            </div>
        </div>
    </div>
</div>

<script src="~/Content/js/custom/common.js"></script>
<script src="~/Content/js/Profile/ChangePassword.js"></script>