﻿@model List<System.String>
@{
    ViewBag.Title = "UpdateGroupTypeDetails";
    Layout = "~/Views/Shared/_MasterLayoutPage.cshtml";
}

<div class="row">
    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel">
            <div class="x_title">
                <h2>Update Group Type Details</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br>
                @using (Html.BeginForm())
                {
                    <div class="item form-group">

                        <div class="col-md-4 col-sm-4 ">
                            <input type="text" id="agentType" name="userType" readonly value="@Model[0]" required="required" placeholder="Agent Type" class="form-control ">
                        </div>
                        <input type="text" style="display:none" name="actionType" value="Update" />
                        <div class="col-md-4 col-sm-4 ">
                            <input type="text" id="description" name="desc" value="@Model[1]" required="required" placeholder="Description" class="form-control ">
                        </div>

                        <div class="col-md-3 col-sm-3">
                            <button type="submit" class="btn btn-success" style="width: 120px;">Submit</button>
                            <button class="btn btn-primary" type="reset" style="width: 120px;">Reset</button>
                        </div>
                    </div>


                }
            </div>
        </div>
    </div>
</div>

