﻿@model IEnumerable<AdminPanel.Models.UploadModel.BankDetails>
@{
    ViewBag.Title = "BankDetails";
    Layout = "~/Views/Shared/_MasterLayoutPage.cshtml";
}
@section header{
    <link href="~/Content/design/dropdown_search_box/css/select2.min.css" rel="stylesheet" />
}

<div class="row">
    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel">
            <div class="x_title">
                <h2><i class="fa fa-bank"></i>&nbsp;Bank Detail</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="row">
                    <div class="col-md-3 col-sm-12  form-group">
                        <input id="bankname" type="text" placeholder="Bank Name" class="form-control commoncss" />
                    </div>
                    <div class="col-md-3 col-sm-12  form-group">
                        <input id="branchname" type="text" placeholder="Branch Name" class="form-control commoncss" />
                    </div>
                    <div class="col-md-3 col-sm-12  form-group">
                        <input id="area" type="text" placeholder="Area Name" class="form-control commoncss" />
                    </div>
                    <div class="col-md-3 col-sm-12  form-group">
                        <input id="accNumber" type="text" placeholder="Account Number" class="form-control commoncss" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 col-sm-12  form-group">
                        <input id="ifsc" type="text" placeholder="IFSC Code" class="form-control commoncss" />
                    </div>
                    <div class="col-md-3 col-sm-12  form-group">
                        <select class="form-control commoncss" id="distributer">
                            <option value="0">Select Distributer</option>
                            <option value="HEADOFFICE">HEADOFFICE</option>
                        </select>
                    </div>
                    <div class="col-md-3 col-sm-12  form-group">
                        <button type="submit" id="submit" class="btn btn-success btn-xs form-control">Submit</button>
                    </div>
                    <div class="col-md-3 col-sm-12  form-group">
                        <button type="submit" id="reset" class="btn btn-success btn-xs form-control">Reset</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="x_panel" style="padding: 0px!important;">
            <div class="x_content">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="table-responsive text-nowrap">
                            <table class="table" data-toggle="table" id="IncentiveTable">
                                <thead>
                                    <tr style="background:#f6f6f6;">
                                        <th>Bank Name</th>
                                        <th>Branch Name</th>
                                        <th>Area</th>
                                        <th>Account No</th>
                                        <th>IFSC Code</th>
                                        <th>Distrid</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.Count() > 0)
                                    {
                                        foreach (var item in Model)
                                        {
                                            <tr id=@item.id>
                                                <td>@item.BankName</td>
                                                <td>@item.BranchName</td>
                                                <td>@item.Area</td>
                                                <td>@item.AccountNumber</td>
                                                <td>@item.NEFTCode</td>
                                                <td>@item.DISTRID</td>
                                                <td style="cursor:pointer;" id="delete_@item.id"><span class="badge badge-danger" onclick="DeleteBankDetails(@item.id)"><i class="fa fa-times-circle"></i>Delete</span></td>
                                            </tr>
                                        }
                                    }
                                    else
                                    {
                                        <tr style="text-align:center">
                                            <td colspan="6" style="color:red;">No Record Found</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section footer
{
    <script src="~/Content/js/custom/common.js"></script>
    <script src="~/Content/design/dropdown_search_box/js/select2.min.js"></script>
    <script>
        //dropdown with search box
        $("#distributer").select2();

        $(function () {
            let datacount = 0;
        datacount = @Model.Count();
            });
    </script>
    <script src="~/Content/js/Upload/BankDetails.js"></script>
}