﻿@model AdminPanel.Models.ProfileModel.Agency
@{
    ViewBag.Title = "SetAgencyCreditLimit";
    Layout = "~/Views/Shared/_MasterLayoutPage.cshtml";
}
@section header{
    <link href="~/Content/design/dropdown_search_box/css/select2.min.css" rel="stylesheet" />
}
<div class="row">
    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel">
            <div class="x_title">
                <h2>Set Agency Credit Limit</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br>
                @using (Html.BeginForm("SetAgencyCreditLimit","Upload", FormMethod.Get))
                {
                    <div class="item form-group">
                        <div class="col-md-6 col-sm-6 ">
                            <select name="userId" id="ddlAgencyList" required class="form-control ">
                                @Html.Raw(ViewBag.AgencyList)
                            </select>
                        </div>
                        <div class="col-md-3 col-sm-3">
                            <button type="submit" class="btn btn-success">Submit</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<div class="row" style="display:@ViewBag.AgencyDetail_display;">
    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel" style="padding: 0px!important;">
            <div class="x_content">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="table-responsive text-nowrap tablescroll" style="height: 150px;">
                            <table class="table" data-toggle="table" id="IncentiveTable">

                                <tbody id="tbodycomm">
                                    <tr>
                                        <td>Total Balance</td>
                                        <td>xxxxxx</td>
                                        <td>User Id/Agency Id</td>
                                        <td>@Model.User_Id/@Model.AgencyId</td>
                                        <td>Mobile</td>
                                        <td>@Model.Mobile</td>

                                    </tr>
                                    <tr>
                                        <td>Agent Credit Limit</td>
                                        <td>@Model.Crd_Limit</td>
                                        <td>Name</td>
                                        <td>@Model.Title @Model.Fname @Model.Mname @Model.Lname</td>
                                        <td>Email</td>
                                        <td>@Model.Email</td>
                                    </tr>
                                    <tr>
                                        <td>Due Amount</td>
                                        <td>@Model.DueAmount</td>
                                        <td>Agency Name</td>
                                        <td>@Model.Agency_Name</td>
                                        <td>Address</td>
                                        <td>@Model.Address</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" style="display:@ViewBag.AgencyCredit_display;">
    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel">
            <div class="x_content">
                <br>
                @using (Html.BeginForm("SetAgencyCreditLimit", "Upload", FormMethod.Post))
                {
                    <div class="item form-group">
                        <div class="col-sm-4 col-md-4">
                            <label class="col-form-label col-md-4 col-sm-4 ">
                                Agency Details:
                            </label>
                            <input type="text" style="display:none" name="id" value="@Model.Counter" />
                            <label class="col-form-label col-md-8 col-sm-8 ">
                                @Model.Agency_Name (@Model.User_Id)
                            </label>
                        </div>
                        <div class="col-sm-4 col-md-4">
                            <label class="col-form-label col-md-4 col-sm-4 ">
                                Available Balance
                            </label>
                            <label class="col-form-label col-md-8 col-sm-8 ">
                               Rs XXXX
                            </label>
                        </div>
                        <div class="col-sm-4 col-md-4">
                            <label class="col-form-label col-md-4 col-sm-4 ">
                                Due Amount
                            </label>
                            <label class="col-form-label col-md-8 col-sm-8 ">
                                @Model.DueAmount
                            </label>
                        </div>
                    </div>

                    <div class="item form-group">
                        <div class="col-sm-4 col-md-4">
                            <label class="col-form-label col-md-4 col-sm-4 ">
                               Set Credit Limit
                            </label>
                            <input type="text" name="creditlimit" value="@Model.Crd_Limit" required class="form-control" />
                        </div>
                        <div class="col-sm-4 col-md-4">
                            <label class="col-form-label col-md-4 col-sm-4 ">
                                Expiry Date
                            </label>
                            <input type="date" name="expirydate" value="" required class="form-control" />
                        </div>
                        <div class="col-sm-4 col-md-4">
                            <label class="col-form-label col-md-4 col-sm-4 ">
                                Remarks
                            </label>
                            <input type="text" name="remarks" value="@Model.Remark" class="form-control" />
                        </div>
                    </div>

                    <div class="item form-group">
                        <div class="col-md-3 col-sm-3 offset-md-9 ">
                            <button type="submit" class="btn btn-success pull-right">Submit</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section footer
{
    <script src="~/Content/js/custom/common.js"></script>
    <script src="~/Content/design/dropdown_search_box/js/select2.min.js"></script>
    <script>
        $("#ddlAgencyList").select2();

    </script>
}